<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- When you enter values in browser and click submit that saves in h2 -->
	<form action="addAlien1">
		<input type="text" name="aid"/><br>
		<input type="text" name="aname"/><br>
		<input type="submit"><br>
	</form>
	
	<!-- When you enter values in browser and click submit that saves in h2 -->
	<form action="getAlien">
		<input type="text" name="aid"/><br>
		<input type="submit"><br>
	</form>
	
</body>
</html>